$theme-color: #177020
$dark-theme-color: #124625
$background-color: #000000
$elements-color: #303030
$primary-text: #ffffff
$secondary-text: #e0e0e0

$mobile-width: 720px
$font-family: 'Open Sans', sans-serif