@import '_variables.sass'

@mixin landing()
  background: linear-gradient(0deg, $background-color 20%, $dark-theme-color 65%, $theme-color 100%)
  background-repeat: no-repeat
  background-size: contain
  height: 53em