@import '_variables.sass'

=landing
  position: relative
  background-image: url('/img/hero.png')
  background-repeat: no-repeat
  background-size: cover
  height: 53em

  &::before 
    content: ''
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    z-index: 10
    background: linear-gradient(-10deg, $background-color 30%, rgba($dark-theme-color, .85) 68%, rgba($theme-color, .7) 100%)
    background-repeat: no-repeat
    background-size: contain

  .content
    position: absolute
    display: flex
    align-items: center
    top: 50%
    left: 18vw
    right: 18vw
    z-index: 20
    transform: translateY(-50%)

    .landing-container
      width: 50%

      img
        width: 100%
        max-width: 50vw
        max-height: 50vh
        margin: 0 auto

      h1
        color: $secondary-text
        text-transform: uppercase
        font-size: 3.3em
        font-weight: 400
        margin-bottom: .1em

        span
          color: $primary-text
          font-weight: 600

      p
        color: $secondary-text
        font-size: 1.2em
        text-align: justify
        font-weight: 400
        margin:
          bottom: .5em
          left: 5px

      .btns
        display: flex
        width: 25em

        .btn
          margin: 0 5px
          padding:
            left: 0
            right: 0
          width: 50%

          &::first-child
            margin-left: 0